# data_path: /data/nburgdor/Data/DTU/
# output_path: /data/nburgdor/Results/DTU/NP_CVP_MVSNet/
# data_path: /mnt/Drive2/DTU/
# output_path: /mnt/Drive1/Results/DTU/NP_CVP_MVSNet/
data_path: /home/nburgdor/data/DTU/
output_path: /home/nburgdor/Results/DTU/NP_CVP_MVSNet/
device: cuda:0
seed: 43
num_workers: 8

camera:
  height: 1200
  width: 1600
  near: 425
  far: 935
  divisible_factor: 64
  baseline_mode: min

inference:
    ckpt_file: pretrained_models/model_NPCVP_DTU.pt
    depth_planes: [8, 16, 32, 96]
    frame_spacing: 1
    num_frame: 5
    sample_mode: cluster
    scale: 1.0
    visualize: True
    vis_freq: 1

loss:
  weights: [1,1,1,1]

model:
    feature_channels: [8, 16, 32, 64]
    group_channels: [2,4,4,8]

optimizer:
  grad_clip: 100.0
  learning_rate: 0.001
  weight_decay: 0.01
  gamma: 0.9

point_cloud:
  pix_th: 0.50
  prob_th: 0.85
  num_consistent: 3
  mask_th: 20
  max_dist: 0.5
  min_dist: 0.0
  min_point_dist: 0.2 # use 0.2 (0.03) with sparse (dense) GT point clouds
  resolution: sparse # OPTIONS: [sparse, dense]

training:
    batch_size: 2
    ckpt_file:
    depth_planes: [8, 16, 32, 48] # coarse -> fine
    epochs: 30
    frame_spacing: 1
    num_frame: 5
    random_crop:
        enable: False
        height: 512
        width: 640
    sample_mode: cluster
    scale: 0.5
    visualize: True
    vis_freq: 250

visualization:
    max_depth_error: 5.0
