data_path: /mnt/Drive2/DTU/
output_path: /mnt/Drive1/Results/DTU/MVSNet/
device: cuda:0
seed: 43
num_workers: 4

camera:
  height: 1200
  width: 1600
  near: 425
  far: 935
  divisible_factor: 64
  baseline_mode: min

inference:
  ckpt_file: pretrained_models/model_MVSNet_DTU.pt
  depth_planes: 512
  frame_spacing: 1
  num_frame: 5
  sample_mode: cluster
  scale: 1.0
  visualize: True
  vis_freq: 1

loss:
  bce_weight: 1.0
  rmse_weight: 0.0075

model:
  feature_channels: 32

optimizer:
  grad_clip: 1000.0
  learning_rate: 0.0001
  weight_decay: 0.0
  gamma: 0.9

point_cloud:
  image_region_th: 2
  depth_region_th: 2
  pix_th: 1.0
  prob_th: 0.80
  num_consistent: 3
  mask_th: 20
  max_dist: 0.5
  min_dist: 0.0
  min_point_dist: 0.2 # use 0.2 (0.03) with sparse (dense) GT point clouds
  resolution: sparse # OPTIONS: [sparse, dense]

training:
  batch_size: 4
  ckpt_file: #pretrained_models/model_MVSNet_DTU.pt
  depth_planes: 64 #128
  epochs: 30
  frame_spacing: 1
  num_frame: 3
  random_crop:
      enable: False
      height: 512
      width: 640
  sample_mode: cluster
  scale: 0.25 #0.45
  visualize: True
  vis_freq: 10

visualization:
  max_depth_error: 5.0
